<%- include("partials/header") %>


	<div class="scoreboard">
		<h1 class="text-center">Scoreboard</h1>
		<p>Player Name: <%= currentPlayer %></p>
		<p>Number of Questions: 10</p>
		<div class="startButton">
			<a href="/trivia/start">Start</a>
		</div>
	</div>

<%- include("partials/footer") %>